@import url(/css/normalize.css);

@import url(/css/fonts/fonts.css);

@import url(/css/layout.css);

@import url(/css/blocks/header/header.css);

$blue: #86c3d7;
$green: #365a49;


@mixin link {
    text-decoration: none;
    color: #fff;
}

@mixin list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.title {
    text-transform: uppercase;
    font-size: 48px;
}

.wrapper {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
    font-family: Alegreya Sans;
}

.section__one {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $blue;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
}

.header__logo {
    background: url(/css/blocks/header/logo.png) center center no-repeat;
    width: 53px;
    height: 39px;
}

.header__menu {
    display: flex;
    @include list;
    justify-content: space-around;
}

.header-menu__item {
    margin-right: 20px;
}

.menu-item__link {
    @include link;
}

.header-contacts__link {
    @include link;
    font-size: 24px;
}

.hero__desc {
    width: 40%;
}

.hero__title {
    color: #fff;
}

.hero__text {
    font-family: Alegreya Sans;
    font-size: 21px;
    color: #fff;
}

.hero__btn {
    background-color: #fff;
    width: 156px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 30px 0;
}

.hero-btn__link {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    font-weight: 800;
    color: #365a49;
}

.hero-info__list {
    @include list;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.section-form{
    background-color: #d2ddd9;
}
.order-form{
    display: flex;
    flex-wrap: wrap;
}

.form-title{
    color:$green;
    // flex: 0 0 100%;
    width: 100%;
    
}

.form__column{
    // flex: 0 0 50%;
    width: 50%;
}

.form-column__row{
    display: flex;
}

.form-row__block{
    display:flex;
    flex-direction:column;
    margin-right: 20px;
    &:last-child{
        margin-right:0;
    }
}
.order-form__input{
    height: 60px;
    width:100%;
    border: none;
    outline-color:#dee2bd;
}

.order-form__input--radiobutton {
    display: inline-block;
}
